<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>江理南昌小宿|公告 </title>
		<script data-main="/main" src="/common/plug-in/require/js/require.js"></script>
		<link href="/common/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">			 
		<!-- <link href="/common/css/common.css" rel="stylesheet"> -->	
		<link href="/views/common/announcementContext/announcementContext.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-2 col-sm-2 column" id="leftPage">
				</div>
				<div class="col-md-8 col-sm-8 column panel panel-default" id="centrePage">
					<div class=" col-md-12 col-sm-12 column">
						<img src="/image/announcement.jpg" />
					</div>
					<div class="row">
						<h1 class="title">
						</h1>
						<p class="context">&nbsp;&nbsp;&nbsp;&nbsp;
						</p>
						<p class="createDate pull-right">
						</p>
					</div>
					
					<div class="zf" style="display:none">
						<p class="mask">&nbsp;&nbsp;&nbsp;&nbsp;
						</p>
						<p class="changeDate pull-right">
						</p>
					</div>
				</div>
				<div class="col-md-2 column" id="rightPage">
				</div>
			</div>
		</div>
	</body>
</html>