
img{
	width: 100%;
	height: auto;
}

h1{
	text-align: center;
}
body{
	background: #f7f8fa;
}
p,span{
	line-height:200%;
	letter-spacing:1.5px;
}

.refuse p,.processedIng p,.processed p{
	text-align: center;
}