<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>权限不足</title>
		<link href="/common/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">	
	</head>
	<body>
		<div class="container" >
			<div class="row clearfix">
				<div class="col-md-3 column">
				</div>
				<div class="col-md-6 column">
					<div class="alert alert-dismissable alert-danger" >
						 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<h4>
							注意!
						</h4> <strong>权限不足！</strong> 您没有权限访问该页面！ <a onClick="javaScript:window.history.back()">点击此处返回上一层.</a>
					</div>
				</div>
				<div class="col-md-3 column">
				</div>
			</div>
		</div>
	</body>
</html>